<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label> Главная </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tasks">
      <ion-icon name="checkbox-outline"></ion-icon>
      <ion-label> Задания </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="achievements">
      <ion-icon name="medal-outline"></ion-icon>
      <ion-label> Достижения </ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
