<ion-content [fullscreen]="true">
  <main>

    <h1>
      <b> Полина,</b> <br>
      добро пожаловать!
    </h1>
    <h3> Это приложение будет помогать Вам c мотивацией </h3>

    <div class="task-block">
      <p>
        Выполняйте задания! <br>
        <ion-note> Смахните задание влево, чтобы его выполнить </ion-note>
      </p>
      <app-current-task [task]="testTask"></app-current-task>
    </div>

    <div class="achievement-block">
      <p> Следите за своими достижениями! </p>
      <app-current-achievement [achievement]="testAchievement"></app-current-achievement>
    </div>

  </main>
</ion-content>
