<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Задания
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-accordion-group *ngIf="!loading; else loadingTemplate"
                       [multiple]="true"
                       [value]="accordionGroupValues">

    <ion-accordion *ngFor="let item of accordions"
                   [value]="item.value" mode="ios">

      <ion-item slot="header" [color]="item.color">
        <ion-label> {{item.label}} ({{item.array.length}}) </ion-label>
      </ion-item>

      <ion-list slot="content">
        <app-current-task *ngFor="let task of item.array"
                          (updateTask)="updateTask$$.next($event)"
                          [task]="task" ></app-current-task>
      </ion-list>

    </ion-accordion>

  </ion-accordion-group>
</ion-content>

<ng-template #loadingTemplate>
  <app-loading></app-loading>
</ng-template>
